bidict==0.23.1
click==8.1.7
folium==0.17.0
geopandas==1.0.1
jsonlines==4.0.0
matplotlib==3.9.1
pandas==2.2.2
plotly==5.23.0
psycopg==3.2.1
Shapely==2.0.5
SQLAlchemy==2.0.31
sqlglot==25.8.1
sqlparse==0.5.1
openai==1.38.0
mapclassify==2.8.0
duckdb==1.1.0